/* Se importa una fuente local */
@font-face{
  font-family: Pangolin;
  src: local("Pangolin Regular"),
      local("Pangolin-Regular"),
      url(../fonts/Pangolin-Regular.ttf);
}

/*img.imgLogo{
  width: 15%;
}*/

div.brandingContainer{
  height: 100%;
  margin-left: 0.5em;
}

div.brandingLogo{
  display: inline-block;
  width: 2em;
}

/*.navbar{
  flex-wrap: inherit;
}*/

img.userPFPLarge{
  width: 10em;
}

h1.brandingTitle{
  font-family: Pangolin;
  /*font-size: 25pt;*/
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-left: 0.3em;
  color: white;
}

.navbar, .post, #sidebar{
  box-shadow: 2px 2px 5px #000;
}
#sidebar{
  background-color: #d3d7ff;
}
#sidebar ul li{
  background-color: #f0f0f0;
}


.navbar .nav-item .nav-link{
  color: #fff;
}

body{
  background-color: #edd9ff;
}
.post{
  background-color: #f0f0f0;
}

a.postTitle{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding-left: 0;
}
a.postTitle h1{
  margin-bottom: 0;
}
a.postTitle:hover{
  color: #444444;
}
article.post, aside#sidebar{
  border: 1px solid black;
  border-radius: 1em;
}
.imgContainer{
  margin-left: auto;
  margin-right: auto;
}
.postDate{
  vertical-align: middle;
  font-size: larger;
  margin: 0 0 0 0;
}
.postAuthor{
  padding-top: 0;
}
div.postMetadata p, div.postMetadata a{
  display: inline;
}